<mat-toolbar>
    <div class="d-flex align-items-center justify-content-between">
      <div class="toolbar-navigation">
        <ng-container *ngIf="currentUser | async as user;">
          <button
            mat-icon-button
            matTooltip="User Profile"
            color="primary"
            [routerLink]="['user', user.id]"
          >
            <mat-icon>home</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="User List"
            color="primary"
            [routerLink]="['list']"
          >
            <mat-icon>menu</mat-icon>
          </button>

            <button
              mat-icon-button
              (click)="logOut()">
              <mat-icon color="warn">open_in_new</mat-icon>
              <span>Logout</span>
            </button>

        </ng-container>
      </div>
    </div>
</mat-toolbar>
